.clients {
  margin-left: -30px;
  margin-top: -30px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
  }
}

.clients__list {
  display: flex;

  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients__link {
  display: flex;
  justify-content: center;

  padding: 15px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--cubic);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
.clients__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
  align-self: center;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}
// // .clients__item:not(:last-child) {
// //   margin-right: 30px;
// // }
