.header {
  border-bottom: 2px solid #ececec;
}

.head-container {
  display: flex;
  position: relative;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;

  align-items: center;
}

.nav__menu {
  display: none;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    padding: 32px 0;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__link {
  display: inline-block;

  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);

  transition: color 250ms var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:not(.current)::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms var(--cubic);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts__icon {
  fill: var(--main-text-color);
  margin-right: 10px;

  transition: fill 250ms var(--cubic);
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: #2196f3;
  }
}

.nav__logo {
  display: inline-block;

  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 88px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: #000000;
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 95px;
    font-size: 26px;
  }
}
.blue-logo {
  color: var(--accent-color);
}

.contacts__link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color 250ms var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__item {
  display: flex;
}
.contacts__item--mail {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  padding: 48px 0 48px 40px;
  z-index: 1;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
  }
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #212121;
}
.current {
  position: relative;
  color: var(--accent-color);
  &--menu {
    color: var(--accent-color);
  }
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__list {
  display: block;
  // margin-bottom: 302px;
}
.mob-menu__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.mob-menu__mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}
.menu-close {
  position: absolute;
  top: -30px;
  right: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: #ffffff;

  cursor: pointer;
}

.menu__icon--close {
  .menu-close:hover &,
  .menu-close:focus & {
    fill: var(--accent-color);
  }
}
.mob-menu__contacts-list {
  display: flex;
}
.mob-menu__contacts-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;
}
.mob-menu__contacts-item {
  position: relative;
  &:not(:last-child) {
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child)::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.menu-open {
  border: none;
  background: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
